<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>console</headerType>
  <jar>C:\Users\thero\Documents\uni\Softwaretechnik 2\.projekt\Application.jar</jar>
  <outfile>C:\Users\thero\Documents\uni\Softwaretechnik 2\.projekt\Application.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon></icon>
  <jre>
    <path>C:\Program Files\Java\jdk-22</path>
    <requiresJdk>true</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion></minVersion>
    <maxVersion></maxVersion>
    <opt>--enable-preview</opt>
  </jre>
</launch4jConfig>